@charset "UTF-8";

about {
  h2 {
  margin: 40px 0px 30px 10px;
	font-weight: bold;
  }

  h3 {
    font-weight: bold;
    margin-left: 10px;
    font-size: 1em;
  }

  p {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 1em;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li { 
    padding-left: 1em; 
    text-indent: 1em;
}

  li:before {
    content: "● ";
    color: $base-blue; /* or whatever color you prefer */
  }
}