@charset "UTF-8";

about {
  h1 {
    margin-bottom: 30px;
    margin-left: 10px;
  }

  p {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 1em;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li { 
    padding-left: 1em; 
    text-indent: 1em;
}

  li:before {
    content: "● ";
    color: $base-blue; /* or whatever color you prefer */
  }
}