/*DESCRIPTION FORM STYLES */

description h1 {
  margin-top: 40px;
  text-align: center;
}

.appScreen {
  @extend %clearfix;

  margin-top: 50px;

  &:nth-child(odd) {
    .screenDescription {
      float: right;
    }
    .screenSnapshot {
      float: left;
    }
  }

  &:nth-child(even) {
    .screenDescription {
      float: left;
    }
    .screenSnapshot {
      float: right;
    }
  }

  &:last-child {
  margin-bottom: 30px;
  }  

}

.screenDescription, .screenSnapshot {
  width: 50%;
}

.screenDescription {

  h2 {
    padding-top: 80px;

    font-family: 'Arvo', serif;
    text-align: center;
    text-decoration: underline;
    color: $dark-blue;
  }

  p {
    width: 90%;

    margin-left: auto;
    margin-right: auto;

    margin-top: 40px;

    font-size: 1.1em;
    line-height: 1.4em;
  }
  
}

.screenSnapshot img{
  display: block;

  width: 60%;
  height: auto;

  margin-right: auto;
  margin-left: auto;

  border: 1px solid $border-grey;
  border-radius: 3px;

  box-shadow: 0px 0px 10px $dark-blue;
}


@media screen and (max-width: 720px) {

  .appScreen h2 {
      padding-top: 0;
    }

  .screenDescription, .screenSnapshot {
    float: none;
    width: 100%;

    text-align: center;
  }

  .screenSnapshot {
    padding-top: 20px;
  }
  
}