/* General body styles */

body {
  margin-left: auto;
  margin-right: auto;

  font-size: 16px;

  background-color: $background-grey;

  border: 1px solid $border-grey;
  border-radius: 5px;

  padding: 5px;
}

<<<<<<< HEAD
h1 {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 2.5em;
}

h2 {
  font-weight: bold;
  font-style: italic;
  font-size: 1.5em;
}

p {
  font-size: 1em;
}

=======
>>>>>>> origin/gh-pages
%clearfix {
	&:before, &:after {
  	content: "";
  	display: table;
	}

	&:after {
  	clear: both;
	}

  zoom: 1;
}


/*Needed to prevent Carousel bug*/
.ng-hide {
  display:block !important;
  position:absolute;
  top:-9999px;
  left:-9999px;
}


/* Header styles */


header {
	h1 {
		float: left;
	}

<<<<<<< HEAD
	h2 {
    font-family: 'Times New Roman', serif;
=======
	h3 {
    font-family: 'Times New Roman', serif;
		font-size: 1.5em;
    font-weight: bold;
		font-style: italic;
>>>>>>> origin/gh-pages
		color: $base-blue;
	}

	.pageHeader {
		@extend %clearfix;
		font-family: 'Arvo', serif;
		border-bottom: 2px solid $dark-grey;
	}

}


/* Main styles */

<<<<<<< HEAD
main {
=======
main, main h1, main h2, main h3 {
>>>>>>> origin/gh-pages
	 font-family: 'PT Sans', sans-serif;
	 position: relative;
}


/* Media queries */

@media screen and (min-width: 960px) {
	body {
		width: 848px;
	}
}


@media screen and (max-width: 720px) {
<<<<<<< HEAD
  header h2 {
=======
  header h3 {
>>>>>>> origin/gh-pages
	  float: none;
	  text-align: center;
  }
}