/* General body styles */

body {
  margin-left: auto;
  margin-right: auto;

  font-size: 16px;

  background-color: $background-grey;

  border: 1px solid $border-grey;
  border-radius: 5px;

  padding: 5px;
}

%button {
	color: $base-blue;
	background-color: $background-grey;
	border: 1px solid $dark-grey;
	border-radius: 5px;
	box-shadow: 2px 2px 2px $shadow-color;
	padding: 3px;

	&:hover {
		background-color: $button-hover-color;
	}
}


%clearfix {
	&:before, &:after {
  	content: "";
  	display: table;
	}

	&:after {
  	clear: both;
	}

  zoom: 1;
}


/*Needed to prevent Carousel bug*/
.ng-hide {
  display:block !important;
  position:absolute;
  top:-9999px;
  left:-9999px;
}


/* Header styles */


header {
	h1 {
		float: left;
	}

	h3 {
		font-size: 1.5em;
		font-style: italic;
		color: $base-blue;
	}

	.pageHeader {
		@extend %clearfix;
		font-family: 'Arvo', serif;
		border-bottom: 2px solid $dark-grey;
	}

	nav {
		float: right;
		margin-top: 45px;

		ul {
			margin: 0;
			padding: 0;
		}

		li {
			display: inline;
			margin-left: 3px;
		}

		.button {
			@extend %button;
			text-decoration: none;
		}
	}
}


/* Main styles */

main {
	font-family: 'PT Sans', sans-serif;
	position: relative;
}


/* Media queries */

@media screen and (min-width: 960px) {
	body {
		width: 848px;
	}
}

@media screen and (max-width: 865px) {
	header nav {
		display: inline-block;
		float: none;

		width: 100%;

		margin-top: 0;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 720px) {
  header {
	h1, h3 {
	  float: none;
	  text-align: center;
	}

	nav {
	  text-align: center;
	}
  }
}