<form name="reviewForm" class='reviewForm' ng-controller='formController as formCtrl' ng-submit="formCtrl.submitForm(reviewForm.$valid)" novalidate>

  <fieldset> 

  <p ng-show="formCtrl.displayConfirmation" class="help-block confirmation">Votre message a bien été envoyé</p>

  <h1>Contactez-nous:</h1>
  <div class="form-group">
                  
  <input ng-model='formCtrl.formData.name' type="text" placeholder="Votre nom"  name='name' required/>
  <p ng-show="reviewForm.name.$invalid && formCtrl.invalidSubmit" class="help-block invalid">Votre nom est requis.</p>

  <input ng-model='formCtrl.formData.email' type="email" placeholder="janeDoe@example.org" name='email' required/>
  <p ng-show="reviewForm.email.$invalid && formCtrl.invalidSubmit" class="help-block invalid">Saisissez une adresse de courriel valide.</p>

  <textarea ng-model='formCtrl.formData.text' placeholder="Saisissez votre message ici..."  name='text' required></textarea>
  <p ng-show="reviewForm.text.$invalid && formCtrl.invalidSubmit" class="help-block invalid">Ce champ est obligatoire.</p>

  <button class="btn btn-primary center"  value="Submit">Soumettre</button>
  </div>
  </fieldset>

</form>